package ${rutaPaquetes}.dtos;

import com.fasterxml.jackson.annotation.JsonProperty;
import lombok.Data;

@Data
public class ${nombreClase}Dto{
#foreach($attribute in $attributes)
    #if($attribute.type == "String" || $attribute.type == "int" || $attribute.type == "double" || $attribute.type == "float" || $attribute.type == "Long")
        @JsonProperty("${attribute.jsonName}")
        private ${attribute.type} ${attribute.name};
    #else
        @JsonProperty("${attribute.name}Id")
        private Long ${attribute.name}Id;
    #end
#end
}