package ${rutaPaquetes}.services.impl;

import ${rutaPaquetes}.entities.${nombreClase};
import ${rutaPaquetes}.repositories.${nombreClase}Repository;
import ${rutaPaquetes}.services.${nombreClase}Service;
import ${rutaPaquetes}.dtos.${nombreClase}Dto;
import com.manu.crud_generator.utils.service.impl.CustomCrudServiceImpl;
import org.springframework.stereotype.Service;
import org.modelmapper.ModelMapper;

@Service
public class ${nombreClase}ServiceImpl extends CustomCrudServiceImpl<${nombreClase}, ${nombreClase}Dto, ${nombreClase}Repository>
implements ${nombreClase}Service{

    public ${nombreClase}ServiceImpl(${nombreClase}Repository repository, ModelMapper modelMapper) {
            super(repository, modelMapper, ${nombreClase}.class, ${nombreClase}Dto.class);
        }
}

