<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
<div th:replace="~{fragments/navbar.html}"></div>
<h2>Crear Usuario</h2>
<form th:action="@{/rol/save}" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="contrasena">Contraseña:</label>
    <input type="contrasena" id="contrasena" name="contrasena" required>
    <label for="rol">Rol:</label>
    <select id="rol" name="rol" required>
        <option th:each="rol : ${roles}" th:value="${rol}" th:text="${rol}"></option>
    </select>
    <button type="submit">Guardar</button>
</form>
<h2>Lista de Usuarios</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <form th:action="@{/usuarios/editar/{id}(id=${usuario.id})}" method="POST">
            <td th:text="${usuario.id}"></td>
            <td><input type="text" name="nombre" th:value="${usuario.nombre}" required></td>
            <td><input type="email" name="email" th:value="${usuario.email}" required></td>
            <td>
                <select name="rol" required>
                    <option th:each="rol : ${roles}" th:value="${rol}" th:text="${rol}"
                            th:selected="${rol == usuario.rol}"></option>
                </select>
            </td>
            <td>
                <button type="submit">Guardar Cambios</button>
                <a th:href="@{/usuarios/eliminar/{id}(id=${usuario.id})}">Eliminar</a>
            </td>
        </form>
    </tr>
    </tbody>
</table>

<div th:replace="~{fragments/footer.html}"></div>
</body>
</html>
