<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <div th:replace="~{fragments/navbar.html}"></div>
    <h2>Crear Usuario</h2>
    <form th:action="@{/user/save}" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>
        <label for="mail">Email:</label>
        <input type="email" id="mail" name="mail" required>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <label for="role">Rol:</label>
        <select id="role.id" name="role.id" required>
            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
        </select>
        <button type="submit">Guardar</button>
    </form>
    <h2>Buscar Usuarios</h2>
    <form th:action="@{/user/search}" method="GET">
        <label for="keyword">Email del Usuario:</label>
        <input type="text" id="keyword" name="keyword">
        <button type="submit">Buscar</button>
    </form>
    <h2>Lista de Usuarios</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <form th:action="@{/user/edit/{id}(id=${user.id})}" method="POST">
                <input type="hidden" name="_method" value="PUT"/>
                <td th:text="${user.id}"></td>
                <td><input type="text" name="name" th:value="${user.name}" required></td>
                <td><input type="email" name="mail" th:value="${user.mail}" required></td>
                <td>
                    <select  name="role.id" required>
                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"
                                th:selected="${role.id == user.role.id}"></option>
                    </select>
                </td>
                <td>
                    <button type="submit">Guardar Cambios</button>
                    <a th:href="@{/user/delete/{id}(id=${user.id})}">Eliminar</a>
                </td>
            </form>
        </tr>
        </tbody>
    </table>

    <div th:replace="~{fragments/footer.html}"></div>
</body>
</html>
